.player-deck {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 10px;  
  margin-left: 35%;
  }
  
.played-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}  