.waitingroom-page-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: auto;
    align-items: center;
}

.waitingroom-title{
    display: flex;
    margin: 0;
    position: relative;
    justify-content: center;
    padding: 5vh;
    font-size: 5vh;
    color: white;
}

.waitingroom-container{
    display: flex;
    position: relative;
    width: 60%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.waitingroom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1.5vh;
}

.waitingroom-card.card{
    display: flex;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    background-color: #b1a7a6;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: #161a1d;
}

.waitingroom-card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.waitingroom-card-title{
    display: flex;
    font-size: 4vh;
    font-weight: bold;
    margin: 0;
}

.waitingroom-card-code{
    display: flex;
    font-size: 6vh;
    font-weight: bold;
    margin: 0;
}

.waitingroom-card-text{
    font-size: 3.5vh;
    margin: 0;
    padding-bottom: 3.5vh;
    padding-top: 1vh;
}

.waitingroom-card-code-text{
    font-size: 3vh;
    margin: 0;
}

.waitingroom-game-code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waitingroom-host-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 1.5vh;
}

.waitingroom-table-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.waitingroom-player-table{
    --bs-table-bg: #d3d3d3 !important;
    border-color: #dc3545 !important;
}