.avatar-selection-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 50%;
    height: auto;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.avatar-selection-card{
    display: flex;
    flex-direction: column;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    background-color: #b1a7a6;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: #161a1d;
}

.avatar-selection-card-title{
    display: flex;
    font-size: 4vh;
    font-weight: bold;
    margin: 0;
}

.avatar-list-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.active-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #e5383b;
    box-shadow: 0 0 2px 2px #161a1d;
    border-radius: 50%;
    height: 20%;
    width: 20%;
}

.inactive-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #e5383b;
    border-radius: 50%;
    height: 20%;
    width: 20%;
}

.avatar-svg{
    display: flex;
    width: 100%;
    height: 100%;
}