.multiplayerPage-title{
    display: flex;
    margin: 0;
    position: relative;
    justify-content: center;
    padding: 5vh;
    font-size: 6vh;
    color: white;
}

.multiplayerPage-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
}

.enterCode{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 50%;
    padding: 1.5vh;
}

.enterCode-title{
    font-size: 6vh;
    font-weight: bold;
}

.enterCode-card{
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
    background-color: #b1a7a6;
    border-radius: 10px;
    height: auto;
    width: 100%;
    color: #161a1d;
}

.code-card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.name-input{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    height: 6vh;
    width: 60%;
}

.code-form{
    display: flex;
    padding-top: 3.5vh;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.code-input{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    height: 6vh;
    width: 60%;
}

.name-label{
    display: flex;
    font-size: 6vh;
}

.formCode{
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formName{
    padding: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.code-label{
    display: flex;
    font-size: 6vh;
}

.code-submit-button{
    background-color: #e5383b;
    padding: 1vh;
    border: none;
    border-radius: 5px;
    color: #d3d3d3;
    font-weight: bold;
    font-size: 2vh;
}

.code-submit-button:hover{
    box-shadow: 0 0 2px 2px #161a1d;
}

.submit-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

